<configuration>
	<connectionStrings>
		<add name="InventoryManagementsYstem"
     connectionString="Server=DESKTOP-8IHO1V4\SQLEXPRESS;Database=InventoryManagementsYstem;Trusted_Connection=True;TrustServerCertificate=True;"
     providerName="System.Data.SqlClient" />

	</connectionStrings>

	<appSettings>
		<!-- You can add application-specific settings here -->
		<add key="SomeSetting" value="SomeValue" />
	</appSettings>

	<system.web>
		<!-- If you are using ASP.NET features, you can configure them here -->
	</system.web>

	<system.diagnostics>
		<!-- You can configure diagnostics settings here -->
	</system.diagnostics>
</configuration>
